<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./project.html" title="" class="active">001</a></li>
            <li><a href="./project2.html" title="">002</a></li>
            <li><a href="./project3.html" title="">003</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../static/assets/images/project 2 e.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : College Exam Result Analysis Web Application</h1>
          </div>
          <p>
            
            <h3>Overview:</h3>
    <p>
        The College Exam Result Analysis Web Application is a project developed to simplify the process of analyzing student marks data for the examination cell staff of a college. The traditional method of using Excel formulas has been replaced with a user-friendly web application built using Flask, a Python web framework.
    </p>

    <h3>Key Features:</h3>
    <ol>
        <li>
            <h4>User Authentication:</h4>
            <ul>
                <li>The application incorporates user authentication to ensure secure access to the result analysis features.</li>
                <li>A login system allows authorized users, such as exam cell staff, to log in with a username and password.</li>
            </ul>
        </li>
        <!-- Repeat similar structure for other key features -->

        <li>
            <h4>Dynamic Report Generation:</h4>
            <ul>
                <li>Users can dynamically generate a comprehensive result analysis report in Excel format.</li>
                <li>The report includes details such as the semester, year, division, batch, and half-year information.</li>
            </ul>
        </li>
    </ol>

    <h3>Technologies Used:</h3>
    <ul>
        <li><strong>Flask:</strong> The web framework used for developing the application.</li>
        <li><strong>Pandas:</strong> Utilized for data manipulation and analysis.</li>
        <!-- Repeat for other technologies -->
    </ul>

    <h3>Conclusion:</h3>
    <p>
        The College Exam Result Analysis Web Application streamlines the process of analyzing student exam data, offering a more efficient and user-friendly alternative to traditional Excel-based methods. The project provides valuable insights into student performance, aiding exam cell staff in making informed decisions.
    </p>
          
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/project 2 a.png" class="img-responsive" alt="">
            <p>Login page</p>
          </div> 
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/project 2 b.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/project 2 c.png" class="img-responsive" alt="">
            <p>User Input</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/project 2 d.png" class="img-responsive" alt="">
            <p>User Input</p>
          </div>  
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/sample data project 2.png" class="img-responsive" alt="">
            <p>User sample input excel file</p>
          </div> 
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/project 2 e.png" class="img-responsive" alt="">
            <p>Output</p>
          </div> 
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>